@charset "UTF-8";





@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');


@font-face {
  font-family:"Android" ;
  src: url("pacote-projeto-d010/fontes/idroid.otf") format("opentype");
  font-weight: normal;

}
 :root{
  --cor0: #c5ebd6 ;
  --cor1:#83e1ad;
  --cor2:#3ddc84  ;
  --cor3:#2fa866  ;
  --cor4:#1a5c37  ;
  --cor5:#063d1e  ;
  

  --font-padrão:arial,verdana,helvetica,sans-serif;
  --font-destaque:"Bebas Neue", sans-serif; 
  --font-android:"Android"
 }

*{
  margin: 0px;
  padding: 0px;
}

body{
  background-color: var(--cor0);
  font-family:var(--font-padrão) ;
}



header{
  background-image: linear-gradient(to bottom, var(--cor3),var(--cor5));
  min-height:150px ;
  text-align: center;
  padding-top:40px ;
}


header > h1{
  font-size: 3em;
 color:white ;
 font-family:var(--font-destaque);
 margin-bottom: 20px;
 padding-left: 10px;
 padding-right: 10px;
 font-weight: normal;
}

header > p{
  font-size: 1.2em;
  font-family: var(--font-padrão);
  color: white;
  max-width: 600px;
  padding-left: 10px;
 padding-right: 10px;
  margin: auto;
  text-shadow:2px 2px 0px rgba(0, 0, 0, 0.277) ;
}

nav{
  background-color: var(--cor5);
  padding: 10px;
  box-shadow:0px 7px 7px rgba(0, 0, 0, 0.342) ;
}
nav > a{
  color: var(--cor1);
  padding: 10px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  margin-bottom: 20px;
  transition-duration: 0.5s;
}
nav > a:hover{
  background-color: var(--cor3);
  color: var(--cor5);
}
main{
  background-color: white;
  min-height: 300px;
  max-width: 1000px;
  margin: auto;
  padding: 20px;
  box-shadow:0px 0px 10px rgba(0, 0, 0, 0.438) ;

 border-bottom-left-radius:10px ;
 border-bottom-right-radius: 10px;
}

main strong{
  color: var(--cor4) ;
  font-weight: bold;
  padding: 2px;

}
.externo::after{

  content:'\1F517';

}

main img.pequena{
    max-width: 350px;
    margin: auto;
    display: block;
}

main  img{
  width: 100%;
}

main a{
  text-decoration:none ;
  font-weight: bold;
  color: var(--cor4);
  background-color: var(--cor1);
  padding: 2px 6px;
}
 main a:hover{
  text-decoration: underline;
  color: var(--cor4);
 }
main h1 {
  color:#1a5c37 ;
  font-family:var(--font-android) ;
  font-weight: normal;
  font-size: 1.8;
}


main h2{
  font-family: var(--font-android);
  color: var(--cor4);
  font-size: 1.3em;
  background-image: linear-gradient(to right,var(--cor1),transparent);
  font-weight:normal ;

} 

main p{
  margin:15px 0px 15px 0px;
  text-align: justify;
  text-indent: 30px;
  line-height:2em ;
  font-size: 1em;
}

.video{
  background-color: var(--cor5);
  padding: 20px;
  padding-bottom:56.5% ;
  margin: 0px -20 30px -20px;
  position: relative;
}
.video > iframe{
  position: absolute;
  top: 5%;
  left: 5%;
  width: 90% ;
  height: 90%;
}
  aside{
    background-color: var(--cor1);
    padding: 10px;
    border-radius: 10px;
  }

  aside > ul{
    list-style-type:'\2705\00A0';
    list-style-position: inside;
    columns: 2;
  }
  aside h3{
    color: white;
    background-color: var(--cor4);
    padding:5px ;
    margin: -10px -10px 0px -10px;
    border-radius: 10px 10px 0px 0px;
    font-weight: normal;
  }

footer{
  background-color: var(--cor5);
  color: white;
  margin-top: 30px;
  text-align: center;
  padding: 5px;
}

footer a{
  font-weight: bold;
  color: white;
  text-decoration: none;
}

footer a:hover{
  text-decoration: underline;
  color: var(--cor1);

}
